<h1>EDIT</h1>

<div mat-dialog-content>
<form #dialogForm  [formGroup]="form">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" required> 
    </div>
  
    <div>
      <label for="phoneNumber">Phone Number:</label>
      <input type="text" id="phoneNumber" formControlName="phoneNumber" required>
    </div>
  
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" required>
    </div>
  
    <div>
      <label for="vehicle">Vehicle:</label>
      <input type="text" id="vehicle" formControlName="vehicle" required>
    </div>
  
    <div>
      <label for="jobTitle">Job Title:</label>
      <input type="text" id="jobTitle" formControlName="jobTitle" required>
    </div>
  
    <div>
      <button matDialogClose type="submit" (click)="onSaveData()">Save</button>
      <button matDialogClose>Cancel</button>
    </div>
  </form>
  
</div>