<nav>
    <div class="title">
        <h1>USER DATA</h1>
    </div>
</nav>

<body>
    <div class="btns">
        <button class="AddUser" type="button">Add User</button>
    </div>
    <div class="dataTable">
        <table>
            <tr>
                <th>SR NO</th>
                <th>NAME</th>
                <th>PHONE NUMBER</th>
                <th>EMAIL</th>
                <th>VEHICLE</th>
                <th>JOB TITLE</th>
                <th>ACTION</th>

            </tr>
            <!-- by using for loop to fetch specific data from api store it 
            in table like below -->
            <tr *ngFor="let data of newData; let i = index;">
                <td>{{data?.id}}</td>
                <td>{{data?.FirstName}}</td>
                <td>{{data?.PhoneNumber}}</td>
                <td>{{data?.Email}}</td>
                <td>{{data?.Vehicle}}</td>
                <td>{{data?.JobTitle}}</td>
                <td><button class="EditData" (click)="openDialog()">Edit Data</button>
                    <button class="DeleteUser">Delete User</button>
                </td>
            </tr>


        </table>
    </div>

</body>