<nav>
    <div class="title">
        <h1>USER DATA</h1>
    </div>
</nav>

<body>
    <div class="btns">
        <button mat-raised-button color="primary" (click)="this.sharedService.onClickPopup='addUser';showPopUp()">ADD
            USER</button>
    </div>
    <div class="dataTable">
        <table>
            <tr>
                <th>SR NO</th>
                <th>NAME</th>
                <th>PHONE NUMBER</th>
                <th>EMAIL</th>
                <th>VEHICLE</th>
                <th>JOB TITLE</th>
                <th>ACTION</th>
            </tr>
            <!-- by using for loop to fetch specific data from api store it 
            in table like below -->
            <tr *ngFor="let i = index;let data of sharedService.newData | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: sharedService.newData.length }">
                <td>{{(currentPage - 1) * 10 + i + 1 }}</td>
                <td>{{data?.FirstName}}</td>
                <td>{{data?.PhoneNumber}}</td>
                <td>{{data?.Email}}</td>
                <td>{{data?.Vehicle}}</td>
                <td>{{data?.JobTitle}}</td>
                
                <td><button mat-raised-button class="EditData" (click)="onEdit();data.id=i;sharedService.curretUser=data">Edit Data</button>
                    <button mat-raised-button class="DeleteUser" (click)="onDelete(data)">Delete User</button>
                </td>
            </tr>
            
        </table>
        <pagination-controls (pageChange)="pageChanged($event)" ></pagination-controls>
    </div>

</body>